.backBox {
	width: 84%;
	padding: 3% 8% 1% 8%;
	background-color: #2B1149;
	color: #fff
}

.headBox {
	margin-top: -1%;
	font-size: 45px;
	color: #fff;
	width: 100%;
	font-family: Impact, Charcoal, sans-serif;
}

.menuItems {
	cursor: pointer;
	padding: 0 0 0 40px;
	font-weight: bolder;
}

.lineItems {
	height: 245px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 40px;
	color: #D06DD0;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
}

.itemsTitle {
	font-size: 40px;
	color: #2B1149;
	width: 100%;
	text-align: left;
	font-family: Impact, Charcoal, sans-serif;
	height: 65px
}

.itemText {
	height: 285px;
	overflow-y: auto
}

.bodyBox {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
	color: #2B1149
}

.menuItemsBox {
	text-align: right;
	color: #fff;
}

.mainDiv {
	margin: 4% 12%;
	width: 76%;
}

.firstLine {
	height: 350px;
	width: 100%;
	margin-top: 1%
}

.otherLine {
	height: 350px;
	width: 100%;
	margin-top: 4%
}

.imgBox {
	width: 580px;
	vertical-align: middle;
}

.leftTable {
	width: 100%;
	text-align: left;
}

.rightTable {
	width: 100%;
	text-align: right;
}

.textBox {
	text-align: left;
	color: #2B1149;
	vertical-align: top;
}
